#contenedor1{
position:absolute;
left:50px;
top:100px;
width:800px;
height:500px;
background-color: rgb(241,205,0);
}
#contenedor2{
position:absolute;
left:50px;
top:100px;
width:400px;
height:350px;
background-color: rgb(0,213,241);
}
#contenedor3{
position:absolute;
left:500px;
top:100px;
width:250px;
height:350px;
background-color: rgb(241,0,221);
}
#etiqueta1{
position:absolute;
left:50px;
top:25px;
width:200px;
height:10px;
color: rgb(17,0,255);
}
#texto1{
position:absolute;
left:50px;
top:50px;
}
#etiqueta2{
position:absolute;
left:50px;
top:100px;
width:200px;
height:10px;
color: rgb(17,0,255);
}
#texto2{
position:absolute;
left:50px;
top:125px;
}
#etiqueta3{
position:absolute;
left:50px;
top:175px;
width:200px;
height:10px;
color: rgb(17,0,255);
}
#clave1{
position:absolute;
left:50px;
top:200px;
}
#etiqueta4{
position:absolute;
left:50px;
top:25px;
width:200px;
height:10px;
color: rgb(17,0,170255);
}
#contenedor4{
position:absolute;
left:50px;
top:50px;
}
#radio1{
position:absolute;
}
#radio2{
position:absolute;
}
#radio3{
position:absolute;
}
#etiqueta5{
position:absolute;
left:50px;
top:100px;
}
#contenedor5{
position:absolute;
left:50px;
top:125px;
}
#checkbox1{
position:absolute;
}
#checkbox2{
position:absolute;
}
#areatexto1{
position:absolute;
left:50px;
top:175px;
}
